<!doctype html>
<html>
<head><meta charset="utf-8"><title>Dashboard</title><link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"></head>
<body>
<div class="container">
  <h2>Dashboard — {{ user.name }}</h2>
  <a href="/annotation-tool">
    <button>Start Annotation</button>
</a>
<a href="/view-annotations">
    <button>View Saved Annotations</button>
<button id="trainBtn">Training Model</button>

<div id="trainStatus" style="margin-top:10px; color:blue;"></div>  
 <script>
document.getElementById("trainBtn").onclick = async function() {
    document.getElementById("trainStatus").innerHTML = "Training... please wait.";

    const response = await fetch("/train", {method: "POST"});
    const result = await response.json();

    if(result.status === "success") {
        document.getElementById("trainStatus").innerHTML = "✅ " + result.message;
    } else {
        document.getElementById("trainStatus").innerHTML = "❌ " + result.message;
    }
}
</script>
<a href="/test_model">
    <button>Test Model</button>
</a>
<a href="/evaluation">
    <button>Evaluate Model</button>
</a>
<a href="/compare_models">
    <button>Compare Models</button>
</a>



  <form action="{{ url_for('create_project') }}" method="post">
    <input name="project_name" placeholder="New project name" required>
    <button type="submit">Create Project</button>
  </form>
  <h3>Your Projects</h3>
  <ul>
    {% for p in projects %}
      <li><a href="{{ url_for('project_view', project_id=p.id) }}">{{ p.name }}</a></li>
    {% else %}
      <li>No projects yet</li>
    {% endfor %}
  </ul>
  <p><a href="{{ url_for('logout') }}">Logout</a></p>
</div>
</body>
</html>
